<div class="w-full h-full p-4">
    <button class="flex flex-row justify-center items-center rounded-lg shadow-lg p-4 bg-white dark:bg-[#151515] text-black dark:text-white">
        <div (click)="logout()" class="flex flex-row justify-center gap-2">
            <svg class="w-6 h-6 stroke-black dark:stroke-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 17l5-5-5-5M19.8 12H9M10 3H4v18h6"/></svg>
            Logout
        </div>
    </button>
</div>