<div class="flex flex-col items-center h-full">
    <label for="Title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
    <input id="Title" type="text" [(ngModel)]="entry.name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

    <div>
        <div *ngFor="let tag of entry.tags; let i = index; trackBy: trackByFn" class="flex flex-col gap-2">
            <input type="text" [(ngModel)]="entry.tags[i]" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
    </div>

    <div class="flex flex-row gap-4 w-full justify-center p-4 grow overflow-hidden">
        <textarea class="grow max-w-[50%] h-full" [(ngModel)]="entry.markdowntext"></textarea>
        <markdown class="grow max-w-[50%] h-full overflow-scroll" [data]="entry.markdowntext"></markdown>
    </div>
</div>