version: '3'

services:
  angular:
    image: 8prime/markblogclient
    container_name: markbloglient-container
    ports:
      - 3002:80
    depends_on:
      - api
    volumes:
      - ./ClientNginx:/etc/nginx/conf.d

  api:
    image: 8prime/markblogapi
    container_name: markblogapi-container
    ports:
      - "3004:3000"
    depends_on:
      - mongodb
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/
      - JWT_SECRET=ee5d8112b15e78cd4f9294029e21b8d791f967396012f9132cc26f07607c7eba
    volumes:
      - ./Uploads:/app/upload

  mongodb:
    image: mongo:latest
    container_name: markblogdb-container
    ports:
      - "27018:27017"
    volumes:
      - ./Data:/data/db

  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    user: postgres
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
    #   POSTGRES_USER: stefan
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 10