services:
  web:
    image: markblog
    restart: always
    ports:
      - 3004:80
    depends_on:
      - db
    environment:
      - URLS=http://*:80
      - ArticleFiles=/data
      - ConnectionStrings__Postgres=Host=db;Port=5432;Database=markblog-db;Username=markblog-user;Password=some-safe-password 
    volumes:
      - ./DemoFiles:/data
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: some-safe-password
      POSTGRES_USER: markblog-user
      POSTGRES_DB: markblog-db