@page "/articles"
@using Markblog.Infrastructure.Contexts
@using Markblog.Infrastructure.Entities

<div class="w-full h-full flex justify-center items-center">
    <div class="flex flex-col gap-4">
        <ArticlesOverview Page="1"></ArticlesOverview>
    </div>
</div>

@code {
    
}
