@page "/articles"
@using Markblog.Infrastructure.Contexts
@using Markblog.Infrastructure.Entities
@using Microsoft.EntityFrameworkCore
@inject ArticleContext context;

<div>
    @if(articles is null)
    {
        <div>
            <h1>No articles yet ..</h1>
        </div>
    }
    @foreach(var article in articles ?? [])
    {
        <div>
            <h2>@article.Title</h2>
            <p>@article.Description</p>
            <p>@article.CreatedDate</p>
            <p>Read duration: @article.ReadDurationSeconds</p>
        </div>
    }
</div>

@code {
    private ArticleEntity[]? articles;

    protected override async Task OnInitializedAsync()
    {
        articles = await context.Articles.ToArrayAsync();
        Console.WriteLine(articles.Length);
    }
}
