@page "/article/{article}"
@using Markblog.Infrastructure.Contexts
@using Markblog.Infrastructure.Entities
@using Markblog.Infrastructure.Services
@using Markdig
@using Microsoft.EntityFrameworkCore
@inject ArticleContext context
@layout MainLayout


@if (ArticleText is null)
{
    <h1 class="font-bold text-4xl">This article does not exist</h1>
}
else
{
    <div class="w-full flex flex-col items-center justify-start">
        <div class="w-full sm:w-full md:w-8/12">
            <h1 class="font-bold text-4xl mb-8">
                @ArticleEntity?.Title
            </h1>
            <div>
                <span>@ArticleEntity?.CreatedDate</span>
                @if(ArticleEntity?.CreatedDate != ArticleEntity?.UpdatedDate){
                    <span> - Edited: @ArticleEntity?.UpdatedDate</span>
                }
            </div>
            <div class="flex flex-row justify-between w-full mb-3">
                <div class="flex flex-row flex-grow">
                    <img src="icons/tags.svg" />
                    <span style="line-height: 32px">@ArticleEntity?.Tags?.Replace("\n", ", ")</span>
                </div>
                <div class="flex flex-row">
                    <img src="icons/timer.svg" />
                    <span style="line-height: 32px" class="text-nowrap">@ReadDuration(ArticleEntity?.ReadDurationSeconds ?? 0)</span>
                </div>
            </div>
            <div class="text-xl">
                @((MarkupString)ArticleText)
            </div>
        </div>
    </div>
}




@code {
    [Parameter]
    public string? Article { get; set; }

    private string? ArticleText { get; set; }
    private ArticleEntity? ArticleEntity { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Article is null) return;

        ArticleEntity = await context.Articles.FirstOrDefaultAsync(a => a.Id == Guid.Parse(Article));
        if (ArticleEntity is null) return;

        int tries = 0;
        string? parsed = null;
        while (tries < 5)
        {
            try
            {
                parsed = await ArticleFileParser.ParseArticleText(ArticleEntity.FilePath);
                break;
            }
            catch
            {
                tries++;
            }
        }
        if (parsed is null) return;
        ArticleText = Markdown.ToHtml(parsed).Replace("<pre>", "<pre class=\"overflow-x-auto\">").Replace("language-csharp", "csharp");
    }


    private string ReadDuration(int seconds)
    {
        if (seconds > 60)
        {
            return $"{seconds / 60} min read";
        }
        return $"{seconds} sec read";
    }
}
