@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


markdown {
    all: initial;
    font-family: 'Quicksand', sans-serif;
    line-height: 150%;
}

markdown h1 {
    margin-top: 20px;
    font-size: xx-large;
}
markdown h2 {
    margin-top: 20px;
    font-size: x-large;
}
markdown h3 {
    margin-top: 20px;
    font-size: larger;
}
markdown h4 {
    margin-top: 20px;
    font-size: large;
}
markdown h5 {
    margin-top: 20px;
    font-size: medium;
}
markdown h6 {
    margin-top: 20px;
    font-size: small;
}

markdown strong {
    font-weight: bolder;
}

markdown a {
    color: rgb(60, 55, 155);
}

markdown hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

markdown em {
    font-style: italic;
}

markdown blockquote {
    background-color: rgb(219, 219, 219);
    padding-left: 20px;
}

markdown ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

markdown ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

markdown code {
    background-color: rgb(47, 47, 47);
    color: whitesmoke;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}

markdown pre {
    padding: 20px;
    background-color: rgb(47, 47, 47);
    color: whitesmoke;
    border-radius: 5px;
}

markdown pre code {}

markdown tr {
    padding: 5px;
}

markdown tbody td {
    padding: 5px;
  }
  
markdown tbody tr:nth-child(odd) {
    background-color: #bababa;
    color: #fff;
}

markdown del {
    vertical-align: sub;
}

markdown ins {
    text-decoration: underline;
}

markdown img {
    max-width: 40%;
}

markdown table {
    margin-top: 40px;
}