@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
    --font-family: "Geist", sans-serif;
    --color-primary: #f2943c;
    --color-secondary: oklch(0.65 0.12 280);
    --color-text: oklch(0.85 0.05 120);
    --color-background: #020202;
}