<nav class="w-full bg-black flex flex-row justify-between">
    <ul class="flex flex-row p-4 gap-10 text-white text-2xl">
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/manageEntries">Manage Blog Entries</a>
        </li>
    </ul>
    <div class="flex justify-center items-center p-2">
        <div (click)="showUserSettings = !showUserSettings" class="cursor-pointer rounded-full w-10 h-10 bg-neutral-700 flex items-center justify-center">
            <p class="flex items-center justify-center text-white text-3xl text-center">
                {{userNameStart}}
            </p>
            <div class="relative">
                <div *ngIf="showUserSettings" class="absolute top-12 right-0 p-4 bg-black dark:bg-neutral-300 rounded-lg shadow-lg">
                    <app-user >
                    </app-user>
                </div>
            </div>
        </div>
    </div>
</nav>