@page "/"

<div class="w-full h-full flex flex-col justify-start items-center">
    <div class="flex flex-col gap-2 items-center mb-10">
        <div class="rounded-full overflow-hidden w-32 h-32 object-cover">
            <img src="me.webp" />
        </div>
        <div class="flex flex-col items-center">
            <h1 class="font-semibold text-2xl">
                Stefan's Blog
            </h1>
            <h2 class="text-xl">
                Tech, Photograpyh, Blender and other stuff.
            </h2>
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <ArticlesOverview Page="1"></ArticlesOverview>
    </div>
</div>